
    #section1 {
        padding-top:50px;
        height:650px;
        color: #fff; 
        background-color: #1E88E5;
    }
    #section2 {
        padding-top:50px;
        height:650px;
        color: #fff; 
        background-color: #673ab7;
    }
    #section3 {
        padding-top:50px;
        height:650px;
        color: #fff; 
        background-color: #ff9800;
    }
    #section4 {
        padding-top:50px;
        height:650px;
        color: #fff;
        background-color: #00bcd4;
    }
    #section5 {
        padding-top:50px;
        height:650px;
        color: #fff;
        background-color: #009688;
        }

    #section6 {
            padding-top:50px;
            height:650px;
            color: #fff;
            background-color: #10c431;
            }

    #section7 {
                padding-top:50px;
                height:650px;
                color: #fff;
                background-color: #ce47b9;
                }

    #section8 {
                    padding-top:50px;
                    height:650px;
                    color: #fff;
                    background-color: #1E88E5;
                    }

    #section9 {
                        padding-top:50px;
                        height:650px;
                        color: #fff;
                        background-color: #673ab7;
                        }
        
    #section10 {
                            padding-top:50px;
                            height:650px;
                            color: #fff;
                            background-color: #ff9800;
                            }

    #section11 {
                    padding-top:50px;
                    height:650px;
                    color: #fff;
                    background-color: #00bcd4;
                            }

    #section12 {
                        padding-top:50px;
                        height:650px;
                        color: #fff;
                        background-color: #009688;
                        }

    #section13 {
                padding-top:50px;
                height:650px;
                color: #fff;
                background-color: #10c431;
                                    }
