*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: green;
    
}*/
.color{
    color: white;
    font-size: large;
}
.margin-top-20{
    margin-top: 20px;
}
.feature-img{
    /*max-width: 200px;*/
    max-height: 200px;
}

/* Basic footer styles */
.footer {
    background-color: rgb(17, 16, 16);
    padding: 20px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    font-size: 12px;
    color: #ffffff;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .footer-section {
      flex-basis: 100%;
    }
    
    .footer-section h3 {
      margin-top: 20px;
    }
  }

  .profile-card {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
